#titre {
    display: grid;
    place-items:center ;
    margin-bottom: 3%;

    font-family: sans-serif;
}

#texte{
    display: grid;
    place-items: center;

    margin-bottom: 3%;

    border: 5px solid #00ffd0;
}

#centrer{
    display: grid;
    place-items:center ;

    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    border: 5px solid #FFFF00;
}

#longueur_mot{
    border: 5px solid #027118;
}

#premiereLettre{
    border: 5px solid #ff0000;
}

/** parties paramètres **/



/** partie résultats **/
#reponse {
    border: 5px solid #ff6200;

    margin-top: 6%;
    display: grid;
    place-items:center ;
}


#mots{
    word-wrap: normal;

    border: 5px solid #bf00ff;
}

#reponse b {
    font-family: sans-serif;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 125%;
}












/**boutons**/
.wrapper{
    display: grid;
    place-items:center ;

    margin-top: 7%;
}

a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

a span{
    position: relative;
    z-index: 2;
}

a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

a:hover{
    color: #fff;
}

a:hover:after{
    width: 100%;
}



