<link rel="stylesheet" href="../css/style.css" type="text/css">
<h1> BIENVENUE DANS L'INDEX DU SITE</h1>
<h2> vous avez refresh la page
    <%= nbRefresh %> fois</h2>
<form action="/decouverte" method="post">
    <button type="submit">Aller à la page "découverte formulaire"</button>
</form>