<h1>Voici mon Identite : <%= nom %> <%= prenom %>  </h1> 
    <form action="/decouverte" method="post">
        <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>
        </div>

        <div>
            <label for="prenom">Prenom</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>

        <button type="submit">enregistrer</button>
        
    </form>