<link rel="stylesheet" href="css/style.css" type="text/css">
<h1 id="bienvenue"> BIENVENUE DANS L'INDEX DU SITE</h1>
<h2> vous avez refresh la page
    <%= nbRefresh %> fois</h2>
<form action="/decouverte" method="post">
    <button type="submit">Aller à la page "découverte formulaire"</button>
</form>

<img src="img/image.jpg" alt="here is an image">

<div id="text">
    
</div>

<script type="javascript" src="js/basic_js.js"></script>