<h1>Vous avez été redirectionné</h1>
<div>
    <h2>mon nom : <%= nom %> </h2>
    <h2>mon prenom : <%= prenom %> </h2>

    <form action="/decouverte" method="post">
        <button type="submit">Retourner à découverte</button>
    </form>
</div>