<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anti-sutom</title>
</head>
<body>
    
    <div id="french">
        <% for( let i = 0; i < france.length; i++ ) { %>
            <b><%=france[i]  %> :</b>
        <% } %> 
    </div>

    <form action="/poursuite/" method="post">
        <label for="mot">mettre le mot</label>
        <input type="text" name="mot" id="mot">

        <button type="submit">submit</button>
    </form>

</body>
</html>