body {
    background-color: rgb(43, 43, 43);
}

b {
    padding: 5px;
    font-size: 15px;
    transition: ease-out 0.2s;
}

#motConceil {
    text-align: center;
}

#voici {
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    font-size: medium;
}

#motConceilTxt {
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: aqua;
}


/* Create three unequal columns that floats next to each other */
.column {
    border-color: #000;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(43, 43, 43);
}

.bordure{
    height: 100%;
    width: 20%;
    background-color: rgb(43, 43, 43);
    /* border-style: solid; */
}
  
.left {
    float: left;
}

.right {
    float: right;
}

.middle {
    position: absolute;
    min-height: 70%;
    display: inline-block;
    width: 57%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ff8838ee;
    /* background: linear-gradient(0deg, rgb(43, 43, 43), #ff8838ee 5% ),
                linear-gradient(180deg, rgb(43, 43, 43), #ff8838ee 45% ),
                linear-gradient(270deg, rgb(43, 43, 43), #ff8838ee 45% ),
                linear-gradient(360deg, rgb(43, 43, 43), #ff8838ee 45% ); */
    /* box-shadow: 1px 3px 3px 3px inset rgb(43, 43, 43); */
}
  
#listeLettrePresente {
    list-style: none;
    text-decoration: none;
}

  
#listeLettrePresente a {
    outline: none;
    text-decoration: none;
    color: #fe9d5c;
    font-size: 20px;
    padding: 2px 1px 0;
    transition: ease-out 0.2s;
  }

#listeLettrePresente a:hover {
    background-color: rgba(254, 157, 92, 0.6);
    font-size: 22px;
    border-radius: 2px;
}

#listeLettrePresente a:focus {
    background-color: rgba(254, 157, 92, 0.6);
    font-size: 22px;
    border-radius: 2px;
}

#listeLettrePresente li::before {
    content : "•";
    color: #ff8838ee;
}


#listeLettreImpossible {
    list-style: none;
    text-decoration: none;
}

  
#listeLettreImpossible a {
    outline: none;
    text-decoration: none;
    color: #fe9d5c;
    font-size: 20px;
    padding: 2px 1px 0;
    transition: ease-out 0.2s;
  }


#listeLettreImpossible li::before {
    content : "•";
    color: #ff8838ee;
}

#listeLettreImpossible a:focus {
    background-color: rgba(254, 157, 92, 0.6);
    font-size: 22px;
    border-radius: 2px;
}

#listeLettreImpossible a:hover {
    background-color: rgba(254, 157, 92, 0.6);
    font-size: 22px;
    border-radius: 2px;
}

#texte {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


/* bouton pour chaque lettre */
#lettreMot {
    text-align: center;
}
#lettreMot li{
    display: inline-block;
    min-width: 5em;
    margin: 0 0.5em;
}

.testS {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    display: inline-block;
}

.click-hover {
    font-size: 26px;
    background-color: #aaa;
    border-radius: 8px;
    height: 60px;
    box-shadow: inset 0 0 0 0 aqua;
    transition: ease-out 0.2s;
}

.click-hover:hover {
    background-color: aqua;
}

.click-hover:focus {
    background-color: aqua;
}


span {
    display: table;
    margin: 0 auto;
}



#titre {
    font-family: 'Poppins', sans-serif;
    min-width: 205px;
    padding: 15px 15px 15px 15px;
    margin-top: 250px;
    border-top: 15px;
    background-color: #ff8838ee;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 aqua;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: ease-out 0.3s;
}

#titre:hover {
    font-size: 28px;
    box-shadow: inset 205px 0 0 0 aqua;
}

#titre:focus {
    font-size: 28px;
    box-shadow: inset 205px 0 0 0 aqua;
}


#param {
    margin-bottom: 2.5%;
    margin-top: 1.5%;
    text-align: center;
}

#container_param {
    display: grid;
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
    border-radius: 15px;
    margin-left: 35%;
    margin-right: 35%;
}


#lettrePossible_container {
    grid-row: 1;
    grid-column: 1;
}

#lettrePresente_select {
    background-color: #ff8838ee;
    border-radius: 10px;
    scrollbar-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
} 


/* hide scrollbar but allow scrolling */
#lettrePresente_select {
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    overflow-y: scroll;  
    scrollbar-width: 5px;
}

#lettrePresente_select::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    /*display: none; /* for Chrome, Safari, and Opera */
}

#lettrePresente_select::-webkit-scrollbar-thumb {
    background: #000;
}


select[multiple]{
    height: 100%;
}



#alphabetComplet_select {
    background-color: #ff8838ee;
    border-radius: 10px;
    scrollbar-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
} 


/* hide scrollbar but allow scrolling */
#alphabetComplet_select {
    scrollbar-width: none; 
    overflow-y: scroll; 
    scrollbar-width: 5px;
}

#alphabetComplet_select::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    /*display: none; /* for Chrome, Safari, and Opera */
}

#alphabetComplet_select::-webkit-scrollbar-thumb {
    background: #000;
}





/* à garder, lorsque l'on charge la page on doit pas voir la liste de choix */
#lettrePresente_select {
    visibility: hidden;
}

#alphabetComplet_select {
    visibility: hidden;
}

#supprimerLettre {
    grid-row: 1;
    grid-column: 1;
    visibility: hidden;
}

/* à garder à tout prix, on doit cacher le mot affiché ainsi */
#motCache {
    visibility: hidden;
}

#lettrePresenteCache {
    visibility: hidden;
}

#lettreImpossibleCache {
    visibility: hidden;
}




/* BOUTON POUR SUPPRIMER UNE LETTRE */
.button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: #fe1a40a5;  
    margin-left: 15px;
    border-width: 1px;
    border-radius: 8px;
}