#caca {
    padding-left: 45.5%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* centré */
    color: #BA181B;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #B1A7A6;
}

#titre {
    display: grid;
    place-items: center;
    margin-bottom: 3%;
    font-family: sans-serif;
}

#texte {
    display: grid;
    place-items: center;
    margin-bottom: 10%;
    border: 2px solid #660708;
}

#centrer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#longueur_mot {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #F5F3F4;
}

#premiereLettre {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #F5F3F4;
}


/** parties paramètres **/
/** partie résultats **/

#reponse {
    border: 2px solid #B1A7A6;
    margin-top: 6%;
    display: grid;
    place-items: center;
}

#mots {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #A4161A;
}

#reponse b {
    font-family: sans-serif;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 125%;
}



/**boutons**/

.wrapper {
    display: grid;
    place-items: center;
    margin-top: 7%;
}



body {
    background-color: #0B090A;
}

/* partie bouton stylé */
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }