body {
    background-color: yellow;
}

b {
    padding: 5px;
    font-size: 15px;
}


/* Create three unequal columns that floats next to each other */
.column {
    border-color: #000;
}

.bordure{
    height: 100%;
    width: 20%;
    /* border-style: solid; */
    background-color: #aaa;
}
  
.left {
    float: left;
}

.right {
    float: right;
}

.middle {
    border-radius: 10px;
    background-color: #ff9a44;
    display: inline-block;
    width: 60%;
}
  



#lettreMot {
    text-align: center;
}
#lettreMot li{
    display: inline-block;
    min-width: 5em;
    margin: 0 0.5em;
}

.click-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .click-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .click-hover:focus {
    outline: none;
  }
  
  .click-hover.click {
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }


/* span{
    color: black;
} */


#param {
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

#container_param {
    visibility: hidden;
    background-color: blueviolet;
    border-radius: 15px;
    border-color: black;
    margin-left: 35%;
    margin-right: 35%;
}



#lettrePresente_select {
    background-color: red;
    border-radius: 10px;
    scrollbar-width: 100px;
    
} 


/* hide scrollbar but allow scrolling */
#lettrePresente_select {
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; /* for Firefox */
    /* overflow-y: scroll;  */
    scrollbar-width: 5px;
}

#lettrePresente_select::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    /*display: none; /* for Chrome, Safari, and Opera */
}

#lettrePresente_select::-webkit-scrollbar-thumb {
    background: #000;
}


select[multiple]{
    height: 100%;
}




/* à garder, lorsque l'on charge la page on doit pas voir la liste de choix */
#lettrePresente_select {
    visibility: hidden;
}

#alphabetComplet_select {
    visibility: hidden;
}

#supprimerLettre {
    visibility: hidden;
}

/* à garder à tout prix, on doit cacher le mot affiché ainsi */
#motCache {
    visibility: hidden;
}

#lettrePresenteCache {
    visibility: hidden;
}

#lettreImpossibleCache {
    visibility: hidden;
}