#param {
    margin-bottom: 5%;
    margin-top: 5%;
}

/* à garder, lorsque l'on charge la page on doit pas voir la liste de choix */
#lettrePresente_select {
    visibility: hidden;
}

#alphabetComplet_select {
    visibility: hidden;
}

#supprimerLettre {
    visibility: hidden;
}


/* à garder à tout prix, on doit cacher le mot affiché ainsi */
#motCache {
    visibility: hidden;
}

#lettrePresenteCache {
    visibility: hidden;
}

#lettreImpossibleCache {
    visibility: hidden;
}